* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1.5px solid limegreen; */
    font: inherit;
    font-family: 'Itim', cursive;
}


/* Body */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
body {
    display: flex;
    flex-direction: column;
    background: url(../images/pyramide-dark.png) no-repeat;
    background-position: 50% 5%;
    background-size: cover;
    height: 100vh;
}


/* Navbar */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
.text-nav {
    font-size: 1.5rem;
    border-radius: 0.2rem;
    padding: 0;
}

.text-nav:hover {
    background-color: rgb(233, 233, 233);
}

.navbar-nav a {
    padding: 0.1rem;
}

.nav-active {
    border-bottom: 2px solid rgb(115, 115, 115);
    background-color: rgb(233, 233, 233);
}

.h-c-grey:hover {
    color: rgb(78, 78, 78);
}