* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1.5px solid limegreen; */
    font: inherit;
    font-family: 'Itim', cursive;
}

/* Media */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1399px) {
    section .text {
        font-size: 1.5rem !important;
    }
    .p2 {
        width: 14.25rem;
    }
}
@media (max-width: 1199px) {
    section .text {
        font-size: 1.25rem !important;
    }
}
@media (max-width: 991px) {
    section .text {
        font-size: 1.1rem !important;
    }
    main {
        margin-top: 1rem !important;
    }
    .row1{
        gap: 1.5rem !important;
        flex-direction: column !important;
    }
}
@media (max-width: 600px) {
    
}


/* Body */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
body {
    background-color: #669F8C;
    overflow-y: scroll;
}


/* Navbar */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
.text-nav {
    font-size: 1.5rem;
    border-radius: 0.2rem;
    padding: 0;
}

.text-nav:hover {
    background-color: rgb(233, 233, 233);
}

.navbar-nav a {
    padding: 0.1rem;
}

.nav-active {
    border-bottom: 2px solid rgb(115, 115, 115);
    background-color: rgb(233, 233, 233);
}

.h-c-grey:hover {
    color: rgb(78, 78, 78);
}


/* Main */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
main {
    margin-top: 2rem;
}

.row1 {
    display: flex;
    gap: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #E9D199;
    flex: 1;
    border-radius: 0.5rem;
}

section .text {
    font-size: 1.8rem;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}

ul a:hover {
    color: rgb(78, 78, 78);
}


/* Footer */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
footer {
    margin-top: 2rem;
    height: 14rem;
    background-color: white;
}

.container-lg {
    display: flex;
    justify-content: center;
    height: 100%;
}

.p1, .p3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 31rem;
}

.p2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    align-items: center;
    gap: 0.8rem;
    width: 18.25rem;
    height: fit-content;
}

.p1 h3, .p1 p {
    text-align: end;
    margin-right: 1rem;
}

.p3 h3, .p3 p {
    margin-left: 1rem;
}

.p1 p, .p3 p {
    font-size: 1.4rem;
}

.f-text {
    position: relative;
    justify-self: center;
    font-size: 1.5rem;
}

.f-text::before {
    content: "";
    position: absolute;
    top: 1.15rem;
    right: 11rem;
    height: 1px;
    width: 250%;
    background-color: #C0C0C0;
    border-radius: 1rem;
}

.f-text::after {
    content: "";
    position: absolute;
    top: 1.15rem;
    left: 11rem;
    height: 1px;
    width: 225%;
    background-color: #C0C0C0;
    border-radius: 1rem;
}