* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1.5px solid limegreen; */
    font: inherit;
    font-family: 'Itim', cursive;
}


/* Media */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1399px) {
    section .text {
        font-size: 1.5rem !important;
    }
    .p2 {
        width: 14.25rem;
    }
    .f-text::after {
        left: 12rem !important;
        width: 22rem !important;
    }
    .f-text::before {
        right: 12rem !important;
        width: 22rem !important;
    }
}
@media (max-width: 1199px) {
    section .text {
        font-size: 1.25rem !important;
    }
    .f-text::after {
        left: 12rem !important;
        width: 18rem !important;
    }
    .f-text::before {
        right: 12rem !important;
        width: 18rem !important;
    }
}
@media (max-width: 991px) {
    section .text {
        font-size: 1.1rem !important;
    }
    main {
        margin-top: 1rem !important;
        gap: 1rem !important;
    }
    .row2-c-top, .row2-c-bottom, .row3{
        gap: 1rem !important;
    }
    .box img {
        width: 100% !important;
    }
    .box-card {
        padding-inline: 0 !important;
    }
    .row3 {
        flex-direction: column;
    }
    .f-text::after {
        left: 9rem !important;
        width: 16rem !important;
    }
    .f-text::before {
        right: 9rem !important;
        width: 16rem !important;
    }
}
@media (max-width: 760px) {
    .f-text::after {
        left: 8rem !important;
        width: 15rem !important;
    }
    .f-text::before {
        right: 8rem !important;
        width: 15rem !important;
    }
    .card-header {
        font-size: 1rem !important;
    }
    .card-body {
        font-size: 0.8rem !important;
    }
}
@media (max-width: 660px) {
    .f-text::after {
        left: 8rem !important;
        width: 9.75rem !important;
    }
    .f-text::before {
        right: 8rem !important;
        width: 9.75rem !important;
    }
    .card {
        height: 8rem !important;
    }
}
@media (max-width: 450px) {
    .row2-c-top, .row2-c-bottom {
        flex-direction: column;
    }
    .row2-c-top .box, .row2-c-bottom .box {
        border-radius: 0.5rem !important;
    }
    .row2 {
        gap: 1rem;
    }
    .f-text::after, .f-text::before {
        top: 0.9rem !important;
        width: 7rem !important;
    }
    .f-text::after {
        left: 6rem !important;
    }
    .f-text::before {
        right: 6rem !important;
    }
    .f-text, .p1 h3, .p3 h3 {
        font-size: 1.2rem !important;
        margin: 0 !important;
    }
    .p1 p, .p3 p {
        margin: 0 !important;
    }
    .p2 {
        width: 1.2rem !important;
    }
    body > footer {
        height: 12rem !important;
    }
}


/* Body */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
body {
    background-color: #669F8C;
    overflow-y: scroll;
}


/* Navbar */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
nav {
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

.text-nav {
    font-size: 1.5rem;
    border-radius: 0.2rem;
    padding: 0;
}

.text-nav:hover {
    background-color: rgb(233, 233, 233);
}

.navbar-nav a {
    padding: 0.1rem;
}

.nav-active {
    border-bottom: 2px solid rgb(115, 115, 115);
    background-color: rgb(233, 233, 233);
}

.h-c-grey:hover {
    color: rgb(78, 78, 78);
}

nav .btn {
    border-radius: 0;
    border: none;
}

.list-group .btn:hover, .dropdown-item:hover {
    background-color: rgb(233, 233, 233);
    color: black !important;
}

.link.active {
    background-color: rgb(233, 233, 233) !important;
}

.animat-logo {
    animation: animate 1.5s ease;
}

@keyframes animate {
    0% {
        transform: translateY(2.5rem);
        opacity: 0;
    }
    35%
    {
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
    }
}


/* Main */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
main {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}

.row2 {
    display: flex;
    flex-direction: column;
}

.row2-c-top, .row2-c-bottom{
    display: flex;
    gap: 2rem;
}

.row2-c-top .box {
    border-radius: 0.5rem 0.5rem 0 0;
}

.row2-c-bottom .box {
    border-radius: 0 0 0.5rem 0.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #E9D199;
    flex: 1;
    border-radius: 0.5rem;
}

.box img {
    align-self: center;
    border-radius: 0.5rem;
    width: 94%;
    border: 5px solid #c9b484;
}

.box-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.henri-img, .logan-img {
    position: absolute;
}

.box img:hover:nth-child(2) {
    opacity: 0;
}

section .text {
    font-size: 1.8rem;
}

.card {
    background-color: #d6c08c;
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body {
    font-size: 1.3rem;
}

.card-header {
    background-color: #c7b281;
}

.row3 {
    display: flex;
    gap: 2rem;
}

.row3 .box {
    flex: 2;
}

.row3 .box-carousel {
    flex: 1;
}


/* Footer */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
body > footer {
    margin-top: 2rem;
    height: 14rem;
    background-color: white;
}

.container-lg {
    display: flex;
    justify-content: center;
    height: 100%;
}

.p1, .p3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 31rem;
}

.p2 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    align-items: center;
    gap: 0.8rem;
    width: 18.25rem;
    height: fit-content;
}

.p1 h3, .p1 p {
    text-align: end;
    margin-right: 1rem;
}

.p3 h3, .p3 p {
    margin-left: 1rem;
}

.p1 p, .p3 p {
    font-size: 1.4rem;
}

.f-text {
    position: relative;
    justify-self: center;
    font-size: 1.5rem;
}

.f-text::before {
    content: "";
    position: absolute;
    top: 1.15rem;
    right: 11rem;
    height: 1px;
    width: 28rem;
    background-color: #C0C0C0;
    border-radius: 1rem;
}

.f-text::after {
    content: "";
    position: absolute;
    top: 1.15rem;
    left: 11rem;
    height: 1px;
    width: 28rem;
    background-color: #C0C0C0;
    border-radius: 1rem;
}

/* Modal */
/* ------------------------------------------------------------------------------------------------------------------------------------*/
.modal-box-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.modal-box {
    display: flex;
    flex-direction: column;
    background-color: #E9D199;
    flex: 1;
    border-radius: 0.5rem;
    align-items: center;
}

.modal-box img {
    width: 92%;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

section .text {
    font-size: 1.8rem;
}